<!-- è¦‹å‡ºã— -->
<h4 class="fw-bold">
  <span class="me-1">ðŸ¦Œ</span>
  <span>ã‚·ã‚«</span>
</h4>

<!-- æ¤œç´¢ãƒ•ã‚©ãƒ¼ãƒ  -->
<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("search", "æ¤œç´¢æ¡ä»¶") %>
  </div>

  <div class="card-body">
    <%= search_form_for @search, html: {data: { turbo_frame: "deers-list" }} do |f| %>
      <div class="row g3 mb-3">
        <div class="col-4 col-xl-2">
          <%= f.label :name_cont, "åå‰", class: "form-label" %>
          <%= f.search_field :name_cont, class: "form-control" %>
        </div>
        <div class="col-4 col-xl-2">
          <%= f.label :age_eq, "å¹´é½¢", class: "form-label" %>
          <%= f.search_field :age_eq, class: "form-control" %>
        </div>
        <div class="col-4 d-flex align-items-end">
          <%= button_tag(icon_with_text("search", "æ¤œç´¢"), class: "btn btn-primary me-1") %>
          <%= link_to "ãƒªã‚»ãƒƒãƒˆ", deers_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("table", "ä¸€è¦§") %>
  </div>


  <div class="card-body mx-3">
    <%= turbo_frame_tag "deers-list" do %>
      <div class="row py-2">
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :name) %>
        </div>
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :age) %>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <%= link_to icon_with_text("plus-circle", "ç™»éŒ²"),
                    new_deer_path,
                    class: "btn btn-outline-primary", data: { turbo_frame: "new_deer" }
        %>
        </div>
      </div>
      <%# ç™»éŒ²ãƒªãƒ³ã‚¯ã‚¯ãƒªãƒƒã‚¯æ™‚ã«ã€deers#newã®æ–°è¦ç™»éŒ²ãƒ•ã‚©ãƒ¼ãƒ éƒ¨åˆ†ã‚’ã“ã“ã«ç½®æ›ã™ã‚‹ %>
      <%= turbo_frame_tag "new_deer" %>
      <%= render @deers %>
      <div id="deers">
        <%= render @deers %>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <%= paginate @deers %>
      </div>
    <% end %>
  </div>
</div>