<div id="<%= dom_id @deer %>">
  <p>
    <strong>名前:</strong>
    <%= @deer.name %>
  </p>

  <p>
    <strong>年齢:</strong>
    <%= @deer.age %>
  </p>
</div>

<div>
  <%= link_to "編集", edit_deer_path(@deer) %> |
  <%= link_to "戻る", deers_path %>
  <%= button_to "削除", @deer, method: :delete %>
</div>